<nz-spin [nzSpinning]="loading">
  <nz-select #select style="width: 100%" [(ngModel)]="multipleValue" [nzSize]="size" nzMode="multiple" [nzOpen]="isOpen"
    nzPlaceHolder="Please select" (ngModelChange)="modelChange()" (nzOnSearch)="seachValueChange($event)">

    <nz-option nzCustomContent *ngFor="let option of listOfOption" [nzLabel]="option.name" [nzValue]="option.id">
      <div nz-row>
        <div nz-col class="gutter-row" nzSpan="2">
          <img [src]="option.imgUrl" style="width:20px;height:23px;" *ngIf="option.imgUrl" />
        </div>
        <div nz-col class="gutter-row" nzSpan="12">
          <div class="gutter-box">
            <ellipsis lines="1">
              <span nz-tooltip [nzTitle]="option.name">
                {{option.name}}
              </span>
            </ellipsis>
          </div>
        </div>
        <div nz-col class="gutter-row" nzSpan="1"></div>
        <div nz-col class="gutter-row" nzSpan="8">
          <div class="gutter-box">
            <ellipsis lines="1">
              <span nz-tooltip [nzTitle]="option.author">
                {{option.author}}
              </span>
            </ellipsis>
          </div>
        </div>
      </div>

    </nz-option>
  </nz-select>
</nz-spin>